.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.services {
  background: var(--color-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  height: fit-content;
}

.services:hover {
  border-color: var(--variant-primary);
  background-color: transparent;
}

.services__heading {
  padding: 2rem;
  background: var(--primary-color);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.services__heading h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 1rem;
}

.services__list {
  padding: 2rem;
}

.services__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

li .list-icon {
  font-size: 2rem;
  color: var(--primary-color);
  margin-top: 2px;
}

.services__list p {
  font-size: .9rem;
}

@media screen and (max-width: 950px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
  }
  .services {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .services__container {
    grid-template-columns: 1fr;
  }
}